@model IEnumerable<ua_acm_website.Models.Meeting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Meetings</h1>

@if (User.IsInRole(SD.Admin) || User.IsInRole(SD.Officer))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recruiter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            @if (User.IsInRole(SD.Admin) || User.IsInRole(SD.Officer))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Attendance)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @item.Date.ToShortTimeString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recruiter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            @if (User.IsInRole(SD.Admin) || User.IsInRole(SD.Officer))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance)
                </td>
            }
                @if (User.IsInRole(SD.Admin) || User.IsInRole(SD.Officer))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
